/** Design Note **/
:root {
	--font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

/****** Typography ******/
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size:16px;
	line-height: 20px;
	color:#413C40;
}
a, a:hover {
	text-decoration: none;
	color:#413C40;
}
p {
	font-size: 14px;
	line-height:16;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	margin:0;
	padding:0;
}
h1 {
	font-weight: 800;
	font-size: 130px;
	line-height: 160px;
}
h2 {

}
/****** Common Style ******/
#my-resume-section {
	display:none;
}
.section {
	padding:80px;
}

/****** header ******/
#hero-section h1 {
	text-transform: uppercase;
}
#hero-section h1::first-letter {
    margin-left: -8px;
}
#hero-section p {
	font-size: 18px;
	line-height: 20px;
	color: #969696;
}

/****** POPout CV ******/


/****** footer ******/
#footer-section {
	padding-bottom: 0;
	background: #F2FBFC;
}
#footer-section .row > div > * {
  margin: 20px 0;
}
#footer-section .contact-text {
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	color: #969696;
}
#footer-section .social-links {
	list-style:none;
	margin:0;
	padding:0;
}
#footer-section .social-links li {
	display: inline-block;
	margin-left: 10%;
}
#footer-section .social-links li:first-child {
	margin-left:0;
}
#footer-section .social-links li a{
	font-weight:600;
	text-transform: uppercase;
	letter-spacing: 5px;
}
#footer-section::after {
	content: " ";
	display: block;
	width: 1px;
	height: 100px;
	background: #000;
	margin: 0px auto;
	margin-top: 40px;
}